#Help .top {
		background-image: url('../img/help.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 350px;
}

.help_title {
	text-align: center;
	padding-top: 30px;
}

.help_title>p {
	color: #ffffff;
	
}

h1 {
	color: #ffffff;
}

.help_center {
	font-size: 30px;
	margin-bottom: 15px;
}

.help {
	font-size: 30px;
	margin-bottom: 15px;
}

.serve {
	margin-top: 40px;
	font-size: 14px;
}

.help_main {
	position: relative;
	width: 730px;
	margin: 0 auto;
	color: #fff;
}

.help_mainBd_top>h3{
	margin-top: 15px;
	margin-left: 25px;
}
.help_mainBd {
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	position: absolute;
	top: -100px;
	background-color: rgba(11,27,56,0.3);
}


.help_mainBd_top>ul li {
	float: right;
	width: 30%;
	text-align: center;
}

.help_mainBd_top>ul li>span {
	display: inline-block;
	margin-bottom: 30px;
}

.help_mainBd_top>ul li img{
	width: 130px;
	height: 200px;
}

.help_mainBd_top p {
	color: #f00;
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
	margin-bottom: 50px;
}

.help_mainBd_top>ul{
	margin-left: 15%;
}
